.DS_Store
.idea
BinarySerializer.Tests/bin
BinarySerializer.Tests/obj
BinarySerializer.Tests/report
BinarySerializer.Tests/coverage.opencover.xml
BinarySerializer/bin
BinarySerializer/obj
BinarySerializer.Benchmark/BenchmarkDotNet.Artifacts
BinarySerializer.Benchmark/bin
BinarySerializer.Benchmark/obj
